<!DOCTYPE html 
      PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">
<head>
	<meta name="viewport" content="width=device-width"> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>raspHA - Status Geräte</title>
</head>
<body>
	<div><a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='raspHA.png') }}" alt="RaspHA Logo" style="float:right"></a>
	<h1>Geräte</h1>
	</div>
	<table border = "1" rules="groups">
		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
				<th>Aktion</th>
			</tr>
		</thead>
		<tbody>
		{% for pin in pins %}
			<tr>
				<td>{{pin["name"]}}</td>
				
				{% if pin["type"] != "scenario" %}
					{% if pin["state"] == "GPIO.HIGH" %}
					<td style="background-color:green;text-align:center">	an </td>
					{% else %}
					<td style="background-color:red;text-align:center">	aus </td> 
					{% endif %}
					<td>
					{% if pin["state"] == "GPIO.HIGH" %}
						<input type=button onClick="parent.location='/{{pin["number"]}}/off'" value='Ausschalten' style="height:30px; width:100px">
					{% else %}
						<input type=button onClick="parent.location='/{{pin["number"]}}/on'" value='Einschalten' style="height:30px; width:100px">
					{% endif %}
				{% else %}
					<td style="background-color:lightgrey;text-align:center">&nbsp;</td> 
					<td><input type=button onClick="parent.location='/{{pin["number"]}}/trigger'" value=' Schalten  'style="height:30px; width:100px"></td>
				{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% if message %}
	<p>{{ message }}</p>
	{% endif %}
</body>
</html>
